<!--<!DOCTYPE html>-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
      <!--xmlns:th="http://www.thymeleaf.org"-->
      <!--layout:decorator="layout_user">-->

<!--<head>-->
    <!--<title>Admin Page</title>-->

<!--</head>-->

<!--<body>-->
<!--<section layout:fragment="content">-->

    <!--Maestro del Fitness-->
    <!--<div class="row">-->
        <!--<img th:src="@{/images/gym.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />-->
    <!--</div>-->
<!--</section>-->
<!--<script>-->
    <!--var isAdmin = [[${isAdmin}]];-->
    <!--console.log(isAdmin);-->
    <!--alert(isAdmin)-->
<!--</script>-->
<!--</body>-->

<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout_user">

<head>
    <title>Admin Page</title>

</head>

<body>
<section layout:fragment="content">

    <div class="title_left">
        <h3 th:text="${fullname}"></h3>
        <!--<h3>Tables <small>Some examples to get you started</small></h3>-->
    </div>
    <!--<div class="title_right">-->
    <!--<button  onclick="myFunction()" class="btn btn-success">Add</button>-->
    <!--&lt;!&ndash;<h3>Tables <small>Some examples to get you started</small></h3>&ndash;&gt;-->
    <!--</div>-->
    <div class="row" >
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="background: #f6f6f6; color: black;">
                <div class="x_content">

                    <table th:if="${#lists.size(tables) > 0}" id="datatable" class="table table-striped table-bordered">
                        <tr>
                            <th>MUSCOLO</th>
                            <th>ESERCIZIO</th>
                            <th>SERIE</th>
                            <th>RIPETIZIONI</th>
                            <th>RECUPERO</th>
                            <th>NOTE</th>
                            <!--<th>DELETE</th>-->
                        </tr>
                        <tr th:each="table : ${tables}">
                            <td th:text="${table.getMuscolo()}"></td>
                            <td th:text="${table.getEsercizio()}"></td>
                            <td th:text="${table.getSerie()}"></td>
                            <td th:text="${table.getRepetizioni()}"></td>
                            <td th:text="${table.getRecupero()}"></td>
                            <td th:text="${table.getNote()}"></td>
                        </tr>



                    </table>
                    <div th:if="${secondBox}" class="row">
                        <!--<div class="col-md-2"></div>-->
                        <!--<h3 class="form-signin-heading">Second Box</h3>-->
                        <div>
                            <h3  th:text="${secondBox.getTitle()}"></h3>
                            <p th:text="${secondBox.getDescription()}"></p>
                        </div>
                        <!--<div class="col-md-2"></div>-->
                    </div>
                    <div th:if="${thirdBox}" class="row">
                        <h1 class="form-signin-heading">Online Coach</h1>
                        <br/>
                        <div class="col-md-6">
                            <img th:if="${thirdBox}" th:src="@{${thirdBox.getImage()}}" class="img-responsive center-block"alt="Logo" />

                        </div>
                        <div class="col-md-6">
                                <h3 class="form-signin-heading">Descrizione</h3>
                                <br/>
                                <p  th:text="${thirdBox.getDescription()}"></p> <br />
                        </div>
                    </div>
                    <div th:if="${thirdBox}" class="row">
                        <!--<div class="col-md-2"></div>-->
                        <!--<h3 class="form-signin-heading">Second Box</h3>-->
                        <div style="background: #f6f6f6; color: black;" >
                            <!--<h3>DISCLAIMER TEXT:</h3>-->
                            <p>
                                <img th:src="@{/images/white_image.png}" class="img-responsive center-block" width="250" height="250" alt="Logo" />
                                COPYRIGHT <br>
                                Questo Programma Personalizzato, sistema online, dominio, contenuti ed il materiale in esso contenuto possono costituire opere dell’ingegno e pertanto possono essere tutelati dalla legge sul diritto d’autore. La violazione dei diritti in essa previsti può quindi comportare l’applicazione delle sanzioni penali o amministrative previste dagli art. 171, 171-bis, 171-ter, 174-bis e 174-ter della legge 22 aprile 1941, n. 633, oltre alle sanzioni civili previste dal codice civile italiano.
                                Le opere delle quali viene indicata la fonte sono di proprietà esclusiva dei rispettivi <a>titolari </a> dei diritti e dei loro aventi causa. Ove non diversamente indicato, tutti i diritti appartengono in via esclusiva a Maestrodelfitness.com.
                                Il materiale contenuto in questo Programma non può pertanto essere riprodotto, con qualsiasi mezzo analogico o digitale, in modo diretto o indiretto, temporaneamente o permanentemente, in tutto o in parte, senza l’autorizzazione scritta di Maestrodelfitness.com o dei rispettivi <a href="http://www.maestrodelfitness.com/5/5.html"> titolari </a>
                                Tutti i marchi, registrati e non, e altri segni distintivi presenti nel Programma personalizzato appartengono ai legittimi proprietari e non sono concessi in licenza né in alcun modo fatti oggetto di disposizione, salvo espressamente indicato. È fatto in particolare divieto di utilizzare il logo, le immagini e la grafica di maestrodelfitness, senza il preventivo consenso scritto di Maestrodelfitness.
                                In ogni caso chi intende utilizzare i nostri contenuti, avviare una collaborazione, partecipare al lavoro della pagina può farne richiesta per email scrivendo a: <a> info@maestrodelfitness.com </a>
                                Ulteriori dettagli riguardanti i termini del servizio sono consultabili <a href="http://www.maestrodelfitness.com/5/5.html">cliccando qui</a>

                                AVVERTENZE:
                                <img th:src="@{/images/white_image.png}" class="img-responsive center-block" width="250" height="250" alt="Logo" />
                                Tutte le informazioni contenute nel seguente programma non intendono sostituirsi in alcun modo al parere di medici professionisti. E/o specialisti del settore. L'allenamento con sovraccarichi può causare infortuni, si consiglia pertanto di eseguire esercizi prestando la massima attenzione utilizzando soltanto metodologie e carichi adatti al proprio livello di preparazione. L'autore (Maestrodelfitness.com) è sollevato da ogni tipo di responsabilità in merito all'utilizzo improprio delle informazioni trasmesse dal seguente sito web www.maestrodelfitness.com. In caso di bisogno o dubbio consultare il parere di un medico prima di intraprendere qualsiasi tipo di attività fisica o programma alimentare. </p>
                        </div>
                        <!--<div class="col-md-2"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>

</html>